        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect Admin Logins" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="auth=1" negate="true" />
                        <add input="{QUERY_STRING}" pattern="msg=yes" negate="true" />
						<add input="{QUERY_STRING}" pattern="lmsg=LOCKEDOUT" negate="true" />
						<add input="{QUERY_STRING}" pattern="nosso" negate="true" />
                        <add input="{QUERY_STRING}" pattern="swmsg2=1" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/admnsect\.cfm" />
                    </conditions>
                    <action type="Redirect" url="https://SONISWEBURL/auth/staff" redirectType="Temporary" />
                </rule>
                <rule name="Redirect Faculty Logins" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="auth=1" negate="true" />
                        <add input="{QUERY_STRING}" pattern="msg=yes" negate="true" />
                        <add input="{QUERY_STRING}" pattern="lmsg=LOCKEDOUT" negate="true" />
						<add input="{QUERY_STRING}" pattern="nosso" negate="true" />
                        <add input="{QUERY_STRING}" pattern="swmsg2=1" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/facsect\.cfm" />
                    </conditions>
                    <action type="Redirect" url="https://SONISWEBURL/auth/faculty" redirectType="Temporary" />
                </rule>
                <rule name="Redirect Student Logins" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="auth=1" negate="true" />
                        <add input="{QUERY_STRING}" pattern="msg=yes" negate="true" />
                        <add input="{QUERY_STRING}" pattern="lmsg=LOCKEDOUT" negate="true" />
						<add input="{QUERY_STRING}" pattern="nosso" negate="true" />
                        <add input="{QUERY_STRING}" pattern="swmsg2=1" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/studsect\.cfm" />
                    </conditions>
                    <action type="Redirect" url="https://SONISWEBURL/auth/students" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>